.main {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fullpage{
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fullpagesolid{
  height: 100dvh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slicesolid{
  height: 50lvh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backgroundabs{
  position: absolute;
  height: 100dvh;
  width: 100%;
  background-position: center;
  background-size: cover;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.background{
  position: absolute;
  height: 100dvh;
  width: 100%;
  background-position: center;
  background-size: cover;
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.title{
  font-size: 3vw;
  line-height: 120%;
  color: rgb(255, 255, 255);
  width: 75vw;
}
.heading{
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-bottom: 50px;
  width: 75vw;
}
.ctabutton{
  font-size: 1.5vw;
  background-color: antiquewhite;
  border: 3px solid rgb(0, 0, 0);
  padding: 1.1vw;
  border-radius: 3vw;
  box-shadow:  5px 5px 10px #000000;
  transition: 1s;
}

.addtitle{
  font-size: 2.75vw;
  padding-left: 20vw;
  align-self: start;
  color: #242525;
}
.addheading{
  font-size: 1.5vw;
  padding-inline: 20vw;
  margin-top: 20px;
  text-indent: 2rem;
  color: #4B5555;
}

.testtitle{
  font-size: 1.75vw;
  color: #242525;
  padding-inline: 15vw;
}
.testheading{
  font-size: 1.5vw;
  padding-inline: 20vw;
  margin-top: 20px;
  text-align: center;
  color: #4B5555;
}

.plantitle{
  font-size: 4vw;
}
.placontainer{
 /* border: 4px solid black;
  border-radius: 25px; */
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin-top: 20px;
  margin-bottom: 30px;
}
.plansection{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
}
.planheading{
  font-size: 3vw;
}
.planicon{
  height: 5vw;
  margin-block: 20px;
  margin-bottom: 30px;
}
.plansubtext{
  font-size: 16px;
}

.showcasecontainer{
  z-index: 1;
  display: flex;
}
.showcaseouter{
  width: 30vh;
  height: 75vh;
  margin-right: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showcaseouter2{
  width: 85vh;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showcaseinner{
  width: 85vh;
  height: 20vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between;
}

.showcaseblock1{
  width: 30vh;
  height: 40vh;
  background-color: aqua;
}
.showcaseblock2{
  width: 30vh;
  height: 30vh;
  background-color: rgb(0, 255, 17);
}
.showcaseblock3{
  width: 40vh;
  height: 25vh;
  background-color: rgb(199, 78, 22);
}
.showcaseblock4{
  width: 40vh;
  height: 25vh;
  background-color: rgb(224, 244, 10);
}
.showcaseblock5{
  width: 85vh;
  height: 45vh;
  background-color: rgb(255, 143, 221);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .ctabutton:hover{
    box-shadow:  2px 2px 10px #000000;
  }
}

/* Mobile */
@media (max-width: 700px) {

}

