.main {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
}

/* Pages */
.fullpage{
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
}
.fullpagesolid{
  height: 100dvh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
}
.slice{
  height: 50lvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.slicesolid{
  height: 50lvh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
}
.slicesolidext{
  height: 75lvh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
}


.backgroundabs{
  position: absolute;
  height: 100dvh;
  width: 100%;
  background-position: center;
  background-size: cover;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.background{
  position: absolute;
  height: 100dvh;
  width: 100%;
  background-position: center;
  background-size: cover;
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

/* Home */
.title{
  font-size: 3vw;
  line-height: 120%;
  color: rgb(255, 255, 255);
  width: 75vw;
}
.heading{
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-bottom: 50px;
  width: 75vw;
}
.ctabutton{
  font-size: 1.5vw;
  background-color: antiquewhite;
  border: 3px solid rgb(0, 0, 0);
  padding: 1.1vw;
  border-radius: 3vw;
  box-shadow:  5px 5px 10px #000000;
  transition: 1s;
}

/* Address */
.addtitle{
  font-size: 2.75vw;
  padding-left: 20vw;
  align-self: start;
  color: #242525;
}
.addheading{
  color: #4B5555;
  font-size: 1.5vw;
  text-indent: 2rem;
  line-height: 2.5vw;
  padding-inline: 20vw;
  margin-top: 20px;
}

/* Testimonials */
.testtitle{
  font-size: 1.75vw;
  color: #ffffff;
  padding-inline: 15vw;
}
.testheading{
  font-size: 1.5vw;
  padding-inline: 20vw;
  margin-top: 20px;
  text-align: center;
  color: rgb(208, 227, 244);
}

/* Plan */
.plantitle{
  font-size: 4vw;
}
.placontainer{
 /* border: 4px solid black;
  border-radius: 25px; */
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin-top: 20px;
  margin-bottom: 30px;
}
.plansection{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
}
.planheading{
  font-size: 3vw;
}
.planicon{
  height: 5vw;
  margin-block: 20px;
  margin-bottom: 30px;
}
.plansubtext{
  font-size: 16px;
}

/* ShowCase */
.showcasecontainer{
  z-index: 1;
  display: flex;
}
.showcaseouter{
  width: 35vh;
  height: 85vh;
  margin-right: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showcaseouter2{
  width: 95vh;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showcaseinner{
  width: 95vh;
  height: 20vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between;
}

.showcaseblock1{
  width: 35vh;
  height: 45vh;
  border-radius: 20px;
  box-shadow:  none;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  opacity: 90%;
  transition: 2s;
}
.showcaseblock1:hover{
 opacity: 100%;
 box-shadow:  3px 3px 10px #000000;
 transition: 1s;
}
.showcaseblock2{
  width: 35vh;
  height: 35vh;
  border-radius: 20px;
  box-shadow:  none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10vh;
}
.showcaseblock3{
  width: 45vh;
  height: 25vh;
  border-radius: 20px;
  box-shadow:  none;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  opacity: 90%;
  transition: 2s;
}
.showcaseblock3:hover{
  opacity: 100%;
  box-shadow:  3px 3px 10px #000000;
  transition: 1s;
 }
.showcaseblock4{
  width: 45vh;
  height: 25vh;
  border-radius: 20px;
  box-shadow: none;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  opacity: 90%;
  transition: 2s;
}
.showcaseblock4:hover{
  opacity: 100%;
  box-shadow:  3px 3px 10px #000000;
  transition: 1s;
 }
.showcaseblock5{
  width: 95vh;
  height: 55vh;
  border-radius: 20px;
  box-shadow:  none;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  opacity: 90%;
  transition: 2s;
}
.showcaseblock5:hover{
  opacity: 100%;
  box-shadow:  3px 3px 10px #000000;
  transition: 1s;
}

 
/* Services */
.servicescontainer{
  width:80%;
  display: flex;
  justify-content: space-around;
}
.servicestitle{
  font-size: 4vw;
  margin-bottom: 30px;
}
.servicebox{
  width: 30vw;
  padding-block: 10px;
  padding-inline-start: 20px;
  padding-inline-end: 10px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow:  3px 3px 10px #000000;
  background-color: rgb(240, 215, 180);
  transition: 1s;
}
.servicebox:hover{
  transition: 1s;
  scale: 1.1;
  cursor: pointer;
 }
.servicetitle{
  font-size: 2.75vw;
}
.serviceinfotext{
  color: #4B5555;
  font-size: 1.1vw;
  text-indent: 1vw;
}
.servicedetails{
  margin-block: 20px;
  line-height: 2vw;
}
.serviceinfotext2{
  color: #4B5555;
  font-size: 1.1vw;
  margin-top: auto;
}


/* FAQ */
.faqtitle{
  font-size: 4vw;
  margin-bottom: 30px;
}
.accordion{
  font-size: 22px;
  width: 70vw;
}


/* Action */
.cta{
  z-index: 1;
  font-size: 2vw;
  background-color: antiquewhite;
  border: 3px solid rgb(0, 0, 0);
  padding: 1.2vw;
  padding-inline: 1.7vw;
  border-radius: 3vw;
  box-shadow:  5px 5px 10px #000000;
  transition: 1s;
  cursor: pointer;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .ctabutton:hover{
    box-shadow:  2px 2px 10px #000000;
    scale: 1.05;
    cursor: pointer;
  }
  .cta:hover{
    box-shadow:  2px 2px 10px #000000;
    scale: 1.05;
  }
}

/* Mobile */
@media (max-width: 700px) {

}

